<!DOCTYPE html>
<html>
<head>
    <title>My Web App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/material-darker.min.css">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <script src="https://cdn.jsdelivr.net/npm/typescript@5.4.2/lib/typescript.js"></script>

    <script src="https://unpkg.com/chai@4.5.0/chai.js"></script>
    <script src="https://unpkg.com/mocha@11.0.0/mocha.js"></script>

    <script src="https://unpkg.com/@tailwindcss/browser@4" ></script>
    <script src="https://kit.fontawesome.com/eb1186874f.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/app.css">
</head>
<body class="bg-[#A8B2CA] ">

<div class="grid grid-cols-3 h-full ">

    <div class="m-2  bg-[#f4f5f8] rounded-xl overflow-hidden shadow-lg">

        <section class="grid  grid-cols-2 p-4 bg-[#e6e8ed] font-bold">
            <div class="text-left">Задание</div>
        </section>


        <section class="bg-grey p-4" id="theExercise">

            <!-- Здесь будет загружено упражнение -->

        </section>

    </div>

    <!-- Центральная колонка -->

    <div class="m-2  bg-[#212121] rounded-xl overflow-hidden font-bold relative shadow-lg">

        <section id="theEditor"> </section>

<!--        <button id="runbutton" onclick="app.run()" class="bg-[#444444] text-white px-4 py-2 rounded-lg cursor-pointer z-10 absolute bottom-5 right-5 " > Запустить </button>-->

    </div>

    <!-- Правая колонка   -->

    <div class="h-screen grid grid-rows-[auto_1fr] shadow-lg">

        <div class="m-2 bg-[#f4f5f8]   rounded-xl overflow-hidden font-bold">

            <section class="p-4 bg-[#e6e8ed]  text-[#201e2e] ">
                <p class="">Результат и ошибки</p>
            </section>

            <section id="theOutput" class="p-4 text-xs"> </section>
            <section id="theConsole" class="p-4 text-xs">  </section>

        </div>

        <div class="m-2 bg-[#f4f5f8]  rounded-xl overflow-hidden relative">

            <div id="theTestResults" >

            </div>

        </div>

    </div>
</div>



<template id="exercise">

    <div class="level text-lg text-slate-500">
        Cложность: <span class="m-1">✽</span><span class="m-1 opacity-50">✽</span><span class="m-1 opacity-50">✽</span>
    </div>

    <h2 class="text-2xl font-bold">
        {{exercise.title}}
    </h2>



    <!-- Текст упражнения -->

    <div class="text mt-3">
        {{{ exercise.text }}}
    </div>

    <details class="prompt">
        <summary class="flex cursor-pointer list-none items-center outline-solid border-[#3CC39E] bg-[#fffff] text-[#3CC39E] px-4 py-2 my-4 rounded-lg fit-content">
            <span class="mr-2">Подсказка</span>

            <svg
                    class="w-5 h-5 transition duration-300 group-open:-rotate-180"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
            >
                <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M19 9l-7 7-7-7"
                />
            </svg>

        </summary>

        <div class="prompt__content bg-[#ffffff] rounded-lg p-4">
            .{{{ exercise.prompt }}}
        </div>



    </details>

</template>

<template id="output">

    {{#if errors}}
        <h2>Ошибки валидации:</h2>
        {{#each errors}}
        <p>🚨{{this.message}}</p>
        {{/each}}
    {{else}}
        <pre>{{code}}</pre>
    {{/if}}

    <iframe id="output__iframe" srcdoc="{{srcdoc}}"> </iframe>

</template>

<template id="editor">

    <div class="editor__header grid p-4 bg-[#15141F] text-[#ffffff]">
        <p class=""> {{ fields.0.file_name}}</p>
    </div>

    <div class="editor__body mt-4">
        <textarea id="editor__ide">{{fields.0.value}}</textarea>
    </div>

</template>


<template id="testResults">

    <button id="checkbutton" onclick="app.check()" class="absolute right-3 top-2 bg-[#3CC39E] text-white px-4 py-2 rounded-lg cursor-pointer" >
        Запустить и проверить
    </button>

    {{#if (eq errors.length 0)}}

    {{#if completed}}
        <section class="grid p-4 bg-[#3FC39E] text-[#ffffff]] font-bold">
            <p class="">Задание выполнено! Код IDKFA</p>
        </section>
        {{else}}

        <section class="grid p-4 bg-[#EFEFEF] text-[#201e2e]] font-bold">
            <p class="">Выполнено {{countTrue tests "passed"}} из {{tests.length}}</p>
        </section>

        {{/if}}

        <ul class="p-4">
            {{#each tests}}

                {{#if this.passed}}
                <li class="passed text-[#3ba68c] font-bold" > {{this.title}} </li>
                {{else}}
                <li>{{this.title}}</li>
                {{/if}}

            {{/each}}
        </ul>

    {{else}}
        <section class="grid p-4 bg-[#EFEFEF] text-[#201e2e]] font-bold">
            <p class="">Ошибки в коде</p>
        </section>

        <div class="p-4">
            <p>Проверка не запущена, так как код не выполнился из-за ошибок. Внесите изменения и запустите повторно!</p>
        </div>

    {{/if}}

</template>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/javascript/javascript.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>


<script src="/test_runner.js"></script>
<script src="/component.class.js"></script>
<script src="/task.class.js"></script>
<script src="/app.js"></script>

<script>

const urlObj = new URL(window.location.href);
const taskID = urlObj.pathname.split('/').filter(Boolean).pop()
console.log(taskID)

const app = new App(taskID).start()
app.testRunner = new TestRunner()

</script>


</body>
</html>