body {}

#theExercise {
    overflow: scroll;
    max-height: 91vh;
    padding-bottom: 100px;
}

#theExercise pre{
    background-color: #ddd;
    padding: 16px;
    font-size: 1em;
    border-radius: 8px;
    white-space: pre-line;
}

#theExercise h2, h3 {
    font-size: 2em;
}

#theExercise u {
    font-family: monospace;
    font-size: 14px;
    font-style: normal;
    padding: 4px 8px;
    background-color: #E1E3EA;
    border-radius: 6px;
    color: #1da69e;
    text-decoration: none;
}

#theOutput pre {
    font-size: 12px;
    font-weight: normal;
    white-space: pre-wrap;
}

#output__iframe {
    display: none;
}

#theEditor {
    height: calc(100vh - 88px);
}

#theEditor  .editor__body {
    height: 100%;
}

.CodeMirror { height: 100%; }

#theEditor .CodeMirror-hscrollbar {left: 0; !important; }