
:root {
    --color-bg: #D5D7DD;
    --color-tasks-bg: #F4F5F8;
    --color-tasks-shade: #E6E8ED;
    --color-additional: #8A8993;
    --color-code: #E2F8EF;
    --color-gradient: linear-gradient(90deg, #43B593 7.75%, #40CD94 65.12%);
    --color-brand: #3CC39E;
    --color-primary: #201E2E;
    --color-dark: #15141F;
}

body {
    font-family: "Fedra Sans Pro", Corpid, Arial, sans-serif;
    color: var(--color-primary);
    background-color: var(--color-bg);
}

.fit-content {width: fit-content;}

/* Типографика */

#theExercise p{
    margin: 1rem 0;
}

#theExercise code {
    margin: 1rem 0;
}

#theExercise pre{
    background-color: #ddd;
    padding: 16px;
    font-size: 14px;
    border-radius: 8px;
    white-space: pre-line;
}

#theExercise h2, h3 {
    font-size: 2em;
}

#theExercise u {
    font-family: monospace;
    font-size: 14px;
    font-style: normal;
    padding: 4px 8px;
    background-color: #E1E3EA;
    border-radius: 6px;
    color: #1da69e;
    text-decoration: none;
}

#theExercise ul li{
    padding-left: 0px;
    list-style-type: square;
}

#theOutput pre {
    font-size: 12px;
    font-weight: normal;
    white-space: pre-wrap;
}

#output__iframe {
    display: none;
}

#theEditor {
    height: calc(100vh - 88px);
}

#theEditor  .editor__body {
    height: 100%;
}

.CodeMirror { height: 100%; }

#theEditor .CodeMirror-hscrollbar {left: 0; !important; }

#theTestResults li {
    position: relative;
    padding-left: 24px;
}

#theTestResults li::before{
    content: "";
    width: 16px;
    height: 16px;
    display: block;
    position: absolute;
    left: 0;
    top: 4px;
    border: 1.59px solid grey;
    border-radius: 3px;
    box-sizing: border-box;
}



#theTestResults li.passed::before {
    border:none;
    background-color: #3CC39E;
}

/* Подсказка */

details[open]  summary  .hint__chevron{
    rotate: 180deg;
}

details {
    margin-bottom: 50px;
}

/*  Resizable Columns */

.resizable-container {
    display: flex;
    flex-wrap: wrap;
    margin: 16px;
    max-height: calc(100vh);
}



.resizable-container  .card {
    background-color: var(--color-tasks-bg);
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}

.resizable-container  .card > * { height: 100%;}

.resizable-container  .card-dark {
    background-color: var(--color-primary);
}

.column-left, .column-middle, .column-right {
    height: calc(100vh - 36px);
}

.cm-s-material-darker.CodeMirror {
    background-color: var(--color-primary);
}

/* Изменение ширины */

.resizer {

    width: 20px; /* Ширина разделителя */
    cursor: ew-resize; /* Курсор при наведении */
    background-image: url("/assets/three-dots-vertical.svg");
    background-position: center center;
    background-repeat: no-repeat;

}

/* Иконки */

.icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: 0 3px;
}

.icon-check{ background-image: url("/assets/icon-check.svg"); }
.icon-exercise{ background-image: url("/assets/icon-exercise.svg"); }
.icon-message{ background-image: url("/assets/icon-message.svg"); }
.icon-chevron{ background-image: url("/assets/icon-chevron.svg"); }

/* Вкладки */

